<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILS</title>
</head>
<body>
    <table border="1">

        <tr>
            <thead>
                <th>User Name</th>
                <th>Roll Number</th>
                <th>Email ID</th>
            </thead>
        </tr>

        <tr>
            <thead>
                <td>{{username}}</td>
                <td>{{rno}}</td>
                <td>{{email}}</td>
            </thead>
        </tr>

    </table>
</body>
</html>